*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml

# Firebase (Sensitive)
google-services.json

# Built variants
*.apk
*.aar
*.ap_
*.aab

# OS specific
Thumbs.db
desktop.ini
